version: "3.9"

services:
  php:
    image: php:8.2-fpm
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html

  nginx:
    image: nginx:1.25-alpine
    depends_on:
      - php
    ports:
      - "8443:443"
    volumes:
      - ./:/var/www/html
      - ./nginx/https.conf:/etc/nginx/conf.d/default.conf:ro
      - ./local-https/certs:/etc/nginx/certs:ro

    environment:
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx/conf.d

